@font-face {
  font-family: Cinzel;
  src: url("../Fuentes/Cinzel-Regular.otf");
}

@font-face {
  font-family: Cinzel-black;
  src: url('../Fuentes/Cinzel-Black.otf');
}

a {
  text-decoration: none;
}

.fuente {
  font-family: Cinzel;
}

.fuenteB {
  font-family: Cinzel-black;
}


.celular {
  display: none;
}

.inicio {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  min-height: 100vh;
  z-index: 10;
}

.selectorSeccion {
  width: 20%;
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
}

.botonEncuentro:hover {
  background: #F9E79F;
}

.parte {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
}

.borde-encuentro {
  border-bottom: 1px #F1C40F solid;
}

.borde-encuentro2 {
  border-bottom: 5px #F1C40F solid;
}

.borde-encuentroArriba {
  border-top: 5px #F1C40F solid;
}

.bordeImagenEncuentro {
  border-bottom: 2px #F1C40F solid;
  border-top: 2px #F1C40F solid;
  border-left: 2px #F1C40F solid;
  border-right: 2px #F1C40F solid;
}

.inputBuscar {
  width: 95%;
  height: 40px;
  outline: none;
  font-family: Cinzel;
  font-size: 2em;
  padding-bottom: 8px;
  padding-left: 20px;
  border: 2px black solid;
  border-radius: 5px;
  z-index: 10;
}

.buscarContenedor {
  height: 100vh;
  background-color: #00000050;
}

#fondoContenedor {
  width: 100%;
  height: 100vh;
  position: absolute;

}

.boton-encuentro {
  border: 2px #909497 solid;
}

.inicio.ocultar {
  transform: translateY(100%);
  transition: 1s;
}

@media only screen and (max-width: 600px) {

  .selectorSeccion {
    width: 25%;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
  }

  .celular {
    display: block;
  }

  .pc {
    display: none;
  }

  .simply-section {
    width: 20%;
    margin-top: 20px;
  }

  .simply-amount {
    display: block;
    font-size: 1.5em;
  }

  .simply-word {
    font-size: 0.75em;
  }

}

.mostrar {
  display: block;
}

/*editoe*/

div#archivo {
  position: relative;
}

input.archivo {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  opacity: 0%;
  cursor: pointer;
}
